@font-face {
  font-family: "skyrim-inventory-icons"; /* Project id 5226886 */
  src: url('iconfont.woff2?t=1787662892966') format('woff2'),
       url('iconfont.woff?t=1787662892966') format('woff'),
       url('iconfont.ttf?t=1787662892966') format('truetype');
}

.skyrim-inventory-icons {
  font-family: "skyrim-inventory-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.skim-jiangefuhao:before {
  content: "\e600";
}

.skim-ditu:before {
  content: "\e601";
}

.skim-hanbao:before {
  content: "\e602";
}

.skim-sousuo:before {
  content: "\e603";
}

.skim-pm709:before {
  content: "\e908";
}

.skim-fumojiaoyi:before {
  content: "\e898";
}

.skim-hot:before {
  content: "\e63e";
}

.skim-renwu:before {
  content: "\e63f";
}

.skim-xitongzhuangtai:before {
  content: "\e642";
}

.skim-youjiantou:before {
  content: "\e604";
}

.skim-zuojiantou:before {
  content: "\e605";
}

.skim-beibao:before {
  content: "\e616";
}

.skim-jihuanengli:before {
  content: "\e7af";
}

.skim-jian:before {
  content: "\ead0";
}

.skim-guanbi:before {
  content: "\e609";
}

.skim-jinbi:before {
  content: "\eb19";
}

.skim-yaoshui:before {
  content: "\e6fd";
}

.skim-moshubang:before {
  content: "\ec5b";
}

.skim-jiugongge:before {
  content: "\e60a";
}

.skim-shoucang:before {
  content: "\e610";
}

.skim-caoyaofei:before {
  content: "\e675";
}

.skim-I:before {
  content: "\e611";
}

.skim-huifu:before {
  content: "\e65f";
}

.skim-baoxiang:before {
  content: "\e60b";
}

.skim-Freight_1:before {
  content: "\e6a6";
}

.skim-zhuangbei:before {
  content: "\f0dc";
}

.skim-touqie:before {
  content: "\e7ae";
}

.skim-zhongliang:before {
  content: "\e7f6";
}

.skim-a-33-01:before {
  content: "\e606";
}

